// styles.sass
// @use 'app.component'

.footer 
    width: 95%
    max-width: 1440px
    height: 7%
    bottom: 0px
    left: 0px
    right: 0px
    margin-bottom: 0px

.footer-wrapper
    background-color: var(--bgColorPrimary)
    color: var(--textColorPrimary)
    height: 90px
    width: 100%

.footer-link
    margin-left: 20px
    cursor: pointer
    color: var(--textColorPrimary)

