// styles.sass
// @use 'base'

.header-wrapper
    width: 100%
    position: sticky
    z-index: 999
    top: 0
    background-color: var(--bgColorPrimary)

    > div
        display: flex 
        justify-content: space-between
        border: 1px solid red

.app-name
    margin: 10px
    margin-left: 15px
    color: var(--textColorPrimary)
    border: 1px solid red

.logo-img
    margin: 10px
    img
        height: 50px

.nav-icon
    font-size: 24px
    cursor: pointer
    margin-left: 15px
    padding: 2px
    border: 1px solid red

.nav-part
    display: flex
    flex-direction: row
    > *
        justify-content: center
        flex-direction: column

    &.start
        justify-content: flex-start
    &.end
        justify-content: flex-end